html, body {
    margin: 0;
    padding: 0;
    font-family: 'lexend';
}

h1 {
    font-family: 'Campaign-Slab', 'Courier New', monospace;
    margin-bottom: 1rem;
}

.recent-label {
    text-align: left;
    color: #d4a388;
    text-transform: uppercase;
}

.recent {
    /* background-color: #7a3d2d; */
    /* background-color: #CDD7B2; */
    /* background-color: #efefef; */
    /* color: #7a3d2d; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    padding-left: 1.5rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    background: #7a3d2d;
    background: linear-gradient(-120deg, rgba(212, 174, 136, 1) 0%, rgba(122, 61, 45, 1) 100%);
    box-shadow: #1a1a1a;
    display: grid;
    grid-template-columns: 7fr 1fr;
    margin-bottom: 0.5rem;
    /* min-width: 60%; */
}

.recent:hover {
    background: rgb(212, 174, 136);
    background: linear-gradient(90deg, #1a1a1a 0%, #6a6a6a 100%);
    /* background: linear-gradient(180deg, rgba(212, 174, 136, 1) 0%, rgba(122, 61, 45, 1) 100%); */
    /* box-shadow: #1a1a1a 10px 0px 0px; */
}

.recent-title {
    padding-right: 1rem;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    font-weight: 600;
    color: #fff;
    text-align: left;
}

.scripture {
    color: #fff;
    text-align: left;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

.recent-date {
    font-weight: 600;
    border-radius: 1rem;
    color: #FFF;
    align-items: center;
    display: grid;
    letter-spacing: 0.05rem;
    font-size: 1.2em;
    background-color: #1a1a1a;
    min-width: 6rem;
}


h2 {
    padding-bottom: 0.5rem;
    font-family: 'Lexend', 'Arial', sans-serif
}

h3 {
    font-weight: 200;
    font-size: 1.2rem;
    margin-top: -0.5rem;
    letter-spacing: 0.15rem;
}

.gr {
    color: #aaa;
    font-weight: 400;
}

a {
    color: #7a3d2d;
    text-decoration: none;
    font-weight: 600;
}

a:visited {
    color: #1a1a1a;
}

a:hover {
    color: #d4a388;
}

@media (min-width: 1000px) {
    hr {
            width: 5rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

    .recent {
        width: 50%;
    }
    
    main {
        margin: 2rem 3rem 3rem 3rem;
        text-align: center;
    }

    .fl {
        /* display: block; */
        /* display: flex; */
        /* flex-wrap: wrap; */
        display: grid;
        grid-template-columns: repeat(5, 10rem);
        /* This would display the children elements in  three equal columns with equal width */
        gap: 5px;
        justify-content: center;
    }

    .gr {
        padding: 0.5rem;
        /* background-color÷: #0000FF; */
        /* border: 1px sol÷id #ffff; */
        /* I added a border all round each column for better visibility and separation of the columns */
    }

    th,
    td {
        padding: 0.7rem 3rem;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    iframe {
        width: 80%;
        margin-top: 1rem;
    }
}

@media (max-width: 1000px) {
    hr {
            width: 5rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    
        main {
            margin: 2rem 3rem 3rem 3rem;
            text-align: center;
        }

                .recent-title {
                    font-size: 1.2rem;
                }

        .fl {
            /* display: block; */
            /* display: flex; */
            /* flex-wrap: wrap; */
            display: grid;
            grid-template-columns: repeat(2, 10rem);
            /* This would display the children elements in  three equal columns with equal width */
            gap: 5px;
            justify-content: center;
        }
    
        .gr {
            padding: 0.5rem;
            /* background-color÷: #0000FF; */
            /* border: 1px sol÷id #ffff; */
            /* I added a border all round each column for better visibility and separation of the columns */
        }
    
        a {
            color: #7a3d2d;
            text-decoration: none;
            font-weight: 600;
        }

        a:visited {
            color: #1a1a1a;
        }

        a:hover {
            color: #d4a388;
        }
    
        th,
        td {
            padding: 0.7rem 0.5rem;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    
        iframe {
            width: 90%;
            margin-top: 1rem;
        }
}

