* {
    margin: 0;
    padding: 0;
    font-family: 'lexend';
}

h1 {
    font-family: 'Campaign-Slab', 'Courier New', monospace;
    margin-bottom: 1rem;
}

h2 {
    padding-bottom: 0.5rem;
    font-family: 'Lexend', 'Arial', sans-serif
}

hr {
    width: 5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

main {
    margin: 2rem 3rem 3rem 3rem;
}

.fl {
    /* display: block; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(5, 10rem);
    /* This would display the children elements in  three equal columns with equal width */
    gap: 5px;
    /* To set a gap between  thegrid items */
}

.gr {
    padding: 0.5rem;
    /* background-color÷: #0000FF; */
    /* border: 1px sol÷id #ffff; */
    /* I added a border all round each column for better visibility and separation of the columns */
}